/** @format */

.cc {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  position: relative;
}
.cc__viewport {
  overflow: visible;
}
.cc__container {
  backface-visibility: visible;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
  margin: 0 auto;
}
.cc__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  scroll-snap-align: center;
}
.cc__slide__img {
  display: block;
  object-fit: cover;
  border-radius: 40px 20px 40px 20px;
}
.cc__slide {
  transition: opacity 0.3s ease-in-out;
}
.cc__slide:not(.is-snapped) {
  opacity: 0;
}
.cc__content {
  padding: 10px;
}
.description {
  font-size: 1.4rem;
  color: black;
  line-height: 1.6;
  margin-bottom: 30px;
  border-inline-end: 2px solid #173992;
}
