.breadcrumb {
  position: relative; /* Ensure positioning context for the box */
  display: inline-block; /* Ensure proper positioning of the box */
}

.breadcrumbList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbItem {
  margin-right: 5px;
}

.breadcrumbItem:last-child {
  font-weight: bold;
}

.breadcrumbLink {
  color: green;
  text-decoration: none;
}

.breadcrumbBox {
  position: absolute; /* Position the box relative to the breadcrumb container */
  top: 0; /* Adjust top position as needed */
  right: -30px; /* Adjust right position as needed */
  background-color: red;
  padding: 15px 50px;
  border-radius: 5px;
}
