/** @format */

.campus-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background-image: url("../../../public/aboutPage/campus/backCampus.jpg");
  background-size: cover;
  background-position: center;
  padding: 300px;
}
