<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slideshow</title>

    <link rel="stylesheet" href="swiper-bundle.min.css" />
    <link rel="stylesheet" href="slide.css" />
  </head>
  <body>
    <div class="slide-container swiper">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <image
                  src="../../public/images/slideimg/profile1.jpg"
                  alt=""
                  class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">CS teacher</h2>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                vestibulum, arcu vitae consequat molestie, ligula ipsum viverra
                mi, sit amet suscipit odio quam sit amet sapien. Donec vel nunc
                vitae arcu ultricies sollicitud
              </p>

              <button class="button">View more</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <image
                  src="../../public/images/slideimg/profile2.jpg"
                  alt=""
                  class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">CS teacher</h2>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                vestibulum, arcu vitae consequat molestie, ligula ipsum viverra
                mi, sit amet suscipit odio quam sit amet sapien. Donec vel nunc
                vitae arcu ultricies sollicitud
              </p>

              <button class="button">View more</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <image
                  src="../../public/images/slideimg/profile3.jpg"
                  alt=""
                  class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">CS teacher</h2>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                vestibulum, arcu vitae consequat molestie, ligula ipsum viverra
                mi, sit amet suscipit odio quam sit amet sapien. Donec vel nunc
                vitae arcu ultricies sollicitud
              </p>

              <button class="button">View more</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <image
                  src="../../public/images/slideimg/profile4.jpg"
                  alt=""
                  class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">CS teacher</h2>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                vestibulum, arcu vitae consequat molestie, ligula ipsum viverra
                mi, sit amet suscipit odio quam sit amet sapien. Donec vel nunc
                vitae arcu ultricies sollicitud
              </p>

              <button class="button">View more</button>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>
              <div class="card-image">
                <image
                  src="../../public/images/slideimg/profile5.jpg"
                  alt=""
                  class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">CS teacher</h2>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                vestibulum, arcu vitae consequat molestie, ligula ipsum viverra
                mi, sit amet suscipit odio quam sit amet sapien. Donec vel nunc
                vitae arcu ultricies sollicitud
              </p>

              <button class="button">View more</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </body>

  <script src="swiper-bundle.min.js"></script>

  <script src="slide.js"></script>
</html>
