/**
 * Base styles
 *
 * @format
 */

.container {
  position: relative;
  max-width: 100%;
  height: 40rem;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6.25rem; /* 100px */
  background-image: url("../../../public/aboutPage/employee/flowerschool.jpg");
  padding: 300px;
}

.headerTitle {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
  -webkit-text-stroke: 3px #173992;
  z-index: 999;
  font-size: 3.125rem; /* 50px */
  margin-top: 10rem; /* 60px */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem; /* 24px */
  margin-bottom: 1.25rem; /* 20px */
  color: #333;
  background-color: #f0f0f0;
}

.dotTitle {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem; /* 24px */
  margin-bottom: 1.25rem; /* 20px */
  color: #f0f0f0; /* Added color property with specified value */
  background-color: #f0f0f0;
}

.employee-list {
  margin: auto;
  --slide-height: 10rem;
  --slide-spacing: 1rem;
  --slide-size: 20%;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  flex-wrap: wrap;
  margin-bottom: var(--slide-spacing);
}

.employee-item {
  width: 20%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.625rem; /* 10px */
  height: 18.75rem; /* 300px */
  margin-bottom: 0.625rem; /* 10px */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .employee-item {
    width: 100%; /* Adjust as needed for smaller screens */
    flex-basis: 50%;
  }
}

@media screen and (max-width: 480px) {
  .employee-item {
    width: 100%; /* Adjust as needed for even smaller screens */
  }
}

.employee-item img {
  height: 9.0625rem; /* 145px */
  width: 9.0625rem; /* 145px */
  border: 0.25rem solid #173992; /* 4px */
  object-fit: cover;
  border-radius: 50%;
  background-color: #efefef;
}

.employee-details {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.625rem; /* 10px */
  height: 18.75rem; /* 300px */
  width: 18.75rem; /* 300px */
}

.employee-img {
  border-radius: 50%;
  object-fit: cover;
  background: #efefef;
  height: 9.375rem; /* 150px */
  width: 9.375rem; /* 150px */
  padding: 0.1875rem; /* 3px */
  margin-bottom: 1.875rem; /* 30px */
}

.employee-name {
  font-weight: bold;
  color: #333333;
  font-size: 1rem; /* 16px */
  margin-top: 1rem;
  margin: 0;
}

.employee-description {
  color: #666666;
  font-size: 0.875rem; /* 14px */
  margin-top: 0.3125rem; /* 5px */
  line-height: 1.6;
  margin: 0;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .headerTitle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10rem;
  }
  .employee-item {
    width: 100%;
  }
  .button {
    position: relative;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .headerTitle {
    font-size: 2.5rem; /* Adjust as needed */
    margin-top: 2.5rem; /* Adjust as needed */
    margin-top: 10rem;
  }
  .employee-item {
    width: 100%;
  }
  .button {
    position: relative;
    margin-top: 0;
  }
}

.button {
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
