/** @format */

.about-container {
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
  background-image: url("../../public/aboutPage/aboutpage/graduation.jpg");
  background-size: cover;
  background-position: center;
  padding: 18rem;
}

.about-image {
  position: absolute;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.button-group {
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-text {
  position: absolute;
  font-size: 1rem; /* Adjust font size as needed */
  color: rgb(72, 69, 69);
  padding: 0.6rem;
  border: 0.3rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
  display: row;
}

.sight-word {
  color: #173992;
  position: relative;
  margin: 0 auto;
  width: 100%; /* Adjust width as needed */
  max-width: 100%; /* Limit maximum width */
  height: auto; /* Let the height adjust based on content */
  text-align: center;
  display: flex;
  flex-direction: column; /* Adjust as per your layout */
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.sight-word1 {
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}

@media screen and (min-width: 768px) {
  /* Adjust layout for medium screens (tablets) */
  .sight-word {
    flex-direction: row; /* Adjust as per your layout */
    height: 12rem; /* Adjust height as needed */
  }
}

@media screen and (min-width: 1024px) {
  /* Adjust layout for large screens (desktops) */
  .about-text {
    font-size: 1.2rem; /* Adjust font size as needed */
  }

  .sight-word {
    height: 15rem; /* Adjust height as needed */
  }

  .sight-word1 {
    font-size: 3rem; /* Adjust font size as needed */
  }
}

.box1 {
  display: flex;
  flex-direction: column; /* Adjust as per your layout */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 100%; /* Adjust as needed */
  max-width: 100%; /* Limit maximum width */
  height: auto; /* Let the height adjust based on content */
  margin: 1rem auto; /* Center the box and provide some spacing */
  padding: 1.5rem; /* Adjust padding as needed */
  /* background: linear-gradient(
    to right,
    #8ab7ea,
    #aabdda
  );  */
  animation: rainbow-bg 10s ease infinite; /* Adjust animation as needed */
}

@keyframes rainbow-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Parent container for box2 content */
.box2 {
  display: flex;
  flex-direction: column; /* Adjust as per your layout */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 100%; /* Adjust as needed */
  max-width: 100%; /* Limit maximum width */
  margin: 1rem auto; /* Center the box and provide some spacing */
  padding: 1rem; /* Adjust padding as needed */
  /* background: linear-gradient(to right, #8ab7ea, #aabdda); */
}

.box2 .boxImg .CeoImg .LeaderImg {
  max-width: 50%; /* Prevent image zooming */
  height: auto; /* Let the height adjust based on content */
}
.box2 .boxDescription .CeoImg .LeaderImg {
  max-width: 50%; /* Prevent image zooming */
  height: auto; /* Let the height adjust based on content */
}

@media screen and (min-width: 768px) {
  /* Adjust layout for medium screens (tablets) */
  .box2 {
    display: flex;
    flex-direction: row; /* Display image and description side by side */
    align-items: flex-start; /* Align items at the start horizontally */
  }

  .box2 .boxDescription .CeoDescription .LeaderDescription {
    width: 50%; /* Adjust width as needed */
    margin-right: 3.25rem; /* 100px / 16px */
    margin-left: 3.25rem; /* 100px / 16px */
  }

  .box2 .boxImg .CeoImg .LeaderImg {
    width: 50%; /* Adjust width as needed */
    max-width: none; /* Reset max-width */
    height: auto; /* Let the height adjust based on content */
  }
}

@media screen and (min-width: 1024px) {
  /* Adjust layout for large screens (desktops) */
  .box2 .boxImg .CeoImg .LeaderImg {
    width: 40rem; /* Adjust width as needed */
    height: 30rem; /* Adjust height as needed */
  }
}
.CeoDescription,
.LeaderDescription,
.boxDescription {
  max-width: 100%; /* Limit maximum width */
  padding: 1rem; /* Adjust padding as needed */
}
.boxDescription {
  margin-top: 5rem;
}
.CeoImg,
.LeaderImg,
.boxImg {
  width: 100%; /* Adjust width as needed */
  max-width: 100%; /* Limit maximum width */
  height: auto; /* Let the height adjust based on content */
  background-size: cover; /* or background-size: contain; */
  background-repeat: no-repeat;
}

.CeoImg {
  background-image: url("../../public/aboutPage/aboutpage/ceo.jpg");
  margin-right: 3rem;
}

.LeaderImg {
  background-image: url("../../public/aboutPage/aboutpage/leader.jpg");
  margin-left: 3rem;
  margin-top: 5rem;
}

.boxImg {
  background-image: url("../../public/aboutPage/aboutpage/Dgraduation.jpg");
  margin-right: 3rem;
  /* animation: rainbow-bg 0.625s ease infinite; 10s / 16px */
}

.title1 {
  color: rgb(42, 89, 147);
  font-size: 1.875rem; /* xx-large / 16px */
}

.title2 {
  color: rgb(42, 89, 147);
  font-size: 1.875rem; /* xx-large / 16px */
}

.title3 {
  color: rgb(42, 89, 147);
  font-size: 1.875rem; /* xx-large / 16px */
}
@media screen and (min-width: 768px) {
  /* Adjust layout for medium screens (tablets) */
  .CeoDescription,
  .LeaderDescription,
  .boxDescription {
    width: 60%; /* Adjust width as needed */
    margin-right: 1rem; /* Adjust margin as needed */
    margin-left: 1rem; /* Adjust margin as needed */
  }
  .CeoImg,
  .LeaderImg,
  .boxImg {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Let the height adjust based on content */
  }
}

@media screen and (min-width: 1024px) {
  /* Adjust layout for large screens (desktops) */
  .CeoDescription,
  .LeaderDescription,
  .boxDescription {
    width: 60%; /* Adjust width as needed */
  }

  .CeoImg,
  .LeaderImg,
  .boxImg {
    width: 50rem; /* Adjust width as needed */
    height: 40rem; /* Adjust height as needed */
  }
}
