:root {
  --foreground-color: #000; /* Default foreground color */
  --background-color: #fff; /* Default background color */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: #fff; /* Light mode foreground color */
    --background-color: #000; /* Light mode background color */
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: 16px;
}
@media (max-width: 768px) {
  /* Adjustments for tablets and mobile devices */
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




/* teacher-swiper.css */

.teacher-swiper {
  width: 100%;
  max-width: 600px; /* Adjust width as needed */
  margin: 0 auto;
  position: relative;
}

.teacher-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.teacher-profile img {
  width: 100%;
  max-width: 200px; /* Adjust image width as needed */
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
<<<<<<< HEAD

.teacher-info {
  text-align: center;
}

.teacher-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: blue;
}

.teacher-info p {
  font-size: 1rem;
  color: blue;
=======
.program-list-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
}

.showPrograms.program-list-container {
  display: block;
}
/* Responsive button styles */
@media (max-width: 768px) {
  button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
>>>>>>> daab9c12d5361f75f716b4c159b17fb6c249b36f
}
.-translate-x-full {
  --tw-translate-x: -160%;
}
