:root {
  --foreground-color: #000; /* Default foreground color */
  --background-color: #fff; /* Default background color */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: #fff; /* Light mode foreground color */
    --background-color: #000; /* Light mode background color */
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: 16px;
}
@media (max-width: 768px) {
  /* Adjustments for tablets and mobile devices */
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



h1 {
font-family: 'Helvetica';
font-style: italic;
font-weight: 300;
}

h2 {
font-family: 'Helvetica', sans-serif;
}

h3 {
font-family: 'Helvetica', sans-serif;
}
.program-list-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
}

.showPrograms.program-list-container {
  display: block;
}

.splinescene {
  canvas {
    width: 100%;
    height: 500px;
  }
}
/* Responsive button styles */
@media (max-width: 768px) {
  button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
.-translate-x-full {
  --tw-translate-x: -160%;
}
