  .container {
    color: black;
    background-color: white;
  }
  .miulogo {
    position: relative;
    display: flex;
    justify-content: center; 
    align-content: center;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    background-color: none;
    z-index: 10;
  }
  
  .visit_photo {
    position: absolute; /* Use absolute position to hold the photo in place */
    top: 0; /* Position from the top of the viewport */
    width: 100%;
    height: 70%; /* Set height to 70% of viewport height */
    opacity: 1; /* Adjust opacity if needed */
    background-image: url('../public/images/visit_image.png'); /* Set the background image */
    background-size: cover; /* Cover the entire element with the background image */
    background-position: center; /* Center the background image */
    z-index: 0; /* Set a z-index lower than other content to ensure it's in the background */
  }
  
  .menu {
    z-index: 999;
    position: relative;
  }

  .background {
    background-color: white;
    width: 100%;
    height: 30vh; /* Adjusted height to 30% of viewport height */
  }

  .google_map {
    position: absolute;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    top: 20%; /* 부모 요소의 중앙으로부터 세로 방향으로 50% 떨어진 곳에 배치 */
    left: 50%; /* 부모 요소의 중앙으로부터 가로 방향으로 50% 떨어진 곳에 배치 */
    transform: translate(-50%, 100%); /* 요소의 중앙이 부모 요소의 중앙으로 오도록 이동 */
  }

  .map {
    position: absolute; /* Use absolute position to hold the photo in place */
    top: 72%; /* Position from the top of the viewport */
    left: 27.5%;
    width: 5%;
    height: 10%; /* Set height to 70% of viewport height */
    border: rgba(0,0,0,1) solid 1px;
    }

  .visit_comment {
    position: absolute;
    font-size: 75px; 
    color: black; 
   /* margin-top: 41%;
    margin-left: 33%; */
    top: 70%;
    left: 33%;
    border: 10px solid black; /* Add a 10px solid black border */
    padding: 20px 50px;
  }

  .footer {
    position: relative;
    width: 100%;
    margin-top: 130%;
    top: 100%;
  }